.NavBar {
    height: 10%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #0b0d17;
}

.NavBar > h6 > a {
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem;
}

.NavBar > h6 > .active {
    color: aqua;
}
