body {
    background-color: var(--bluish);
    background-image: url(./starter-code/assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(80vh - 1px);
}

.Destination {
    display: flex;
}

.Destination-sidebar {
    margin-left: auto;
    margin-top: 120px;
}

.Destination-sidebar > .Destination-heading > span {
    color: gray;
    font-weight: 500;
}

.Destination-sidebar > .Destination-heading {
    text-align: center;
}

.Destination-sidebar > .Destination-image {
    height: 445px;
    width: 445px;
    display: block;
    margin-top: 80px;
}

.Destination-content {
    margin-left: auto;
    margin-right: auto;
    width: 445px;
    height: 472px;
    margin-top: 180px;
}

.Destination-content > .Destination-buttons {
    display: flex;
    cursor: pointer;
    width: 285px;
    text-transform: uppercase;
}

.Destination-content > .Destination-buttons > h6 {
    padding: 1rem 0.3rem;
    margin: 1rem 1.5rem;
    border-bottom: 2px solid transparent;
}

.Destination-content > .Destination-buttons > h6:hover {
    border-bottom: 2px solid var(--white--transparent) ;
}

.Destination-content > .Destination-buttons > .active {
    border-bottom: 2px solid var(--white);
}

.Destination-content > .Destination-name {
    margin-block-start: 0.4em;
    margin-block-end: 0.2em;
    margin-left: 0.2rem;
}

.Destination-content > .Destination-desc {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: var(--purplish);
    font-weight: 200;
    letter-spacing: 0.1rem;
    margin-block-end: 2.5rem;
}

.Destination-content > hr {
    color: var(--white--transparent);
}

.Destination-content > .Destination-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Destination-content > .Destination-bottom > div {
    padding: 0 2rem;
    text-align: center;
}

.Destination-content > .Destination-bottom > div > h6 {
    margin-block-start: 1rem;
}