.home {
    background-image: url(./starter-code/assets/home/background-home-desktop.jpg);
    background-color: var(--bluish);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 1px);
}

.Home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: calc(70vh - 1px);
}

.MainPage {
    padding-left: 15%;
    height: 382px;
    width: 550px;
}

.MainPage-subheading {
    font-weight: 200;
    color: var(--purplish);
}

.MainPage-heading {
    font-size: 150px;
    margin-block: 0.1em;
}

.MainPage-content {
    font-size: 22px;
    line-height: 32px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 0.1em;
    color: var(--purplish);
}

.MainPage-button {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 274px;
    width: 274px;
    background-color: var(--white);
    border-radius: 50%;
    position: relative;
    transition: box-shadow 500ms ease-in-out;
}

.MainPage-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 87px rgba(179,179,179,0.3);
    transition: box-shadow 500ms ease-in-out;  
}

.MainPage-button > h3 {
    line-height: 274px;
    margin-block: 0;
    text-align: center;    
    color: var(--bluish);
}

@media only screen and (max-width: 768px) {
    .home {
        background-image: url(./starter-code/assets/home/background-home-tablet.jpg);
    }
    
    .Home {
        height: calc(80vh - 1px);
        text-align: center;
    }

    .MainPage {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .MainPage-subheading {
        font-size: 24px;
    }

    .MainPage-content {
        font-size: 20px;
        line-height: 32px;
    }

    .MainPage-button {
        margin-top: 5%;
    }

    .MainPage-button {
        width: 242px;
        height: 242px;
    }

    .MainPage-button:hover {
        box-shadow: 0px 0px 0px 75px rgba(179,179,179,0.3);
    }

    .MainPage-button > h3 {
        line-height: 242px;
    }
}

@media only screen and (max-width: 375px) {
    .home {
        background-image: url(./starter-code/assets/home/background-home-mobile.jpg);
    }

    .Home {
        height: calc(85vh - 1px);
    }

    .MainPage {
        margin-top: 120px;
        max-height: 280px;
        max-width: 328px;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .MainPage-subheading {
        font-size: 16px;
    }

    .MainPage-heading {
        font-size: 80px;
    }

    .MainPage-content {
        font-size: 15px;
        line-height: 25px;
    }

    .MainPage-button {
        margin-top: 80px;
        height: 150px;
        width: 150px;
    }

    .MainPage-button:hover {
        box-shadow: 0px 0px 0px 45px rgba(179,179,179,0.3);
    }

    .MainPage-button > h3 {
        line-height: 150px;
        font-size: 20px;
    }
}