@font-face {
    font-family: 'bellefairregular';
    src: url('./Bellefair-Regular/bellefair-regular-webfont.woff2') format('woff2'),
         url('./Bellefair-Regular/bellefair-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;500&display=swap');

:root {
    font-family: 'bellefairregular';
    --white: #ffffff;
    --purplish: #d0d6f9;
    --bluish: #0b0d17;
    --white--transparent: #b3b3b3;
    --navbar--color: rgba(11, 13, 23, 0.4);
    color: var(--white);
}

h1 {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 500;
}

h2 {
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 500;
}

h3 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;
}

h4 {
    font-size: 28px;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
}

h5 {
    font-size: 28px;
    text-transform: uppercase;

}

h6 {
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 0.2rem;
}

body {
    background-color: var(--bluish);
    background-image: url(./starter-code/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(80vh - 1px);
}
