.NavBar {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 3%;
}

.NavBar > .Logo {
    padding: 0 2rem;
    margin-right: auto;
}

.NavBar > hr {
    content: "";
    display: inline-block;
    background-color: var(--white--transparent);
    opacity: 0.4;
    width: 50%;
    height: 1px;
}

.NavBar > .links {
    display: flex;
    background-color: var(--navbar--color);
    backdrop-filter: blur(2rem);
    padding: 0 5rem;
}

.NavBar > .links > h6 {
    margin: 0 1rem;
}

.NavBar > .links > h6 > a {
    height: inherit;
    color: var(--white);
    text-decoration: none;
    padding: 2.1rem 0.4rem;
    margin: 0 0.1rem;
    flex-shrink: 0;
    display: flex;
    align-items: baseline;
}

.NavBar > .links > h6 > a > span {
    font-weight: 500;
    font-size: 18px;
    padding: 0 0.3rem;
}

.NavBar > .links > h6 > a:hover {
    border-bottom: 2px solid var(--white--transparent);
}

.NavBar > .links > h6 > .active {
    border-bottom: 2px solid var(--white);
}

@media only screen and (max-width: 768px) {
    .NavBar {
        padding-top: 0;
        height: 96px;
        width: 100%;
    }

    .NavBar > hr {
        display: none;
    }

    .NavBar > .links {
        padding: 0;
    }

    .NavBar > .links > h6 {
        font-size: 14px;
    }

    .NavBar > .links > h6 > a > span {
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .hidden {
        display: none;
    }

    .NavBar {
        position: absolute;
        height: 100%;
        z-index: 1;
    }

    .NavBar > .Logo {
        position: fixed;
        inset: 20px 0 0 20px;
        padding: 0;
    }

    .NavBar > .links {
        flex-direction: column;
        box-sizing: border-box;
        height: 100%;
        z-index: 1000;
        width: 70%;
        padding: min(6rem, 20vh) 1rem;
    }

    .NavBar > .links > h6 > a {
        font-size: 16px;
        padding: 1.2rem 0.2rem;
    }

    .NavBar > .links > h6 > a > span {
        display: block;
        font-size: 18px;
        padding-right: 0.5rem;
    }

    .NavBar > .links > h6 > .active {
        border-bottom: 0;
    }
}


